/*
*	dezui@0.0.1
*	Copyright 2021, Dzuhan Ramadhan
*	All sources and media under "MIT" license
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  margin: 0 0 1rem 0;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.4;
}

h1,
.h1 {
  font-size: 4rem;
}

h2,
.h2 {
  font-size: 3.5rem;
}

h3,
.h3 {
  font-size: 3rem;
}

h4,
.h4 {
  font-size: 2.5rem;
}

h5,
.h5 {
  font-size: 2rem;
}

h6,
.h6 {
  font-size: 1.5rem;
}

a {
  color: #1d8fcc;
  text-decoration: none !important;
}

p,
a,
span,
div {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.6;
}

strong {
  font-weight: 600;
}

i,
em,
u,
b {
  font-family: inherit;
  font-weight: inherit;
}

.raleway {
  font-family: "Raleway";
  font-weight: 500;
}
.raleway-100 {
  font-weight: 100;
}
.raleway-200 {
  font-weight: 200;
}
.raleway-300 {
  font-weight: 300;
}
.raleway-400 {
  font-weight: 400;
}
.raleway-500 {
  font-weight: 500;
}
.raleway-600 {
  font-weight: 600;
}
.raleway-700 {
  font-weight: 700;
}
.raleway-800 {
  font-weight: 800;
}
.raleway-900 {
  font-weight: 900;
}
.raleway-italic {
  font-style: italic;
}

.source-code-pro {
  font-family: "Source Code Pro";
}
.source-code-pro-200 {
  font-weight: 200;
}
.source-code-pro-300 {
  font-weight: 300;
}
.source-code-pro-400 {
  font-weight: 400;
}
.source-code-pro-500 {
  font-weight: 500;
}
.source-code-pro-600 {
  font-weight: 600;
}
.source-code-pro-700 {
  font-weight: 700;
}
.source-code-pro-900 {
  font-weight: 900;
}
.source-code-pro-italic {
  font-style: italic;
}

.dm-serif {
  font-family: "DM Serif Display";
}
.dm-serif-400 {
  font-weight: 400;
}
.dm-serif-500 {
  font-weight: 500;
}
.dm-serif-600 {
  font-weight: 600;
}
.dm-serif-700 {
  font-weight: 700;
}
.dm-serif-800 {
  font-weight: 800;
}
.dm-serif-900 {
  font-weight: 900;
}
.dm-serif-italic {
  font-style: italic;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.container.container-mobile {
  max-width: 400px;
}
.container.container-phablet {
  max-width: 600px;
}
.container.container-tablet {
  max-width: 800px;
}
.container.container-laptop {
  max-width: 1000px;
}
.container.container-monitor {
  max-width: 1200px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex: 1;
  box-sizing: border-box;
}

.col-margin {
  margin: 0 10px !important;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

@media screen and (max-width: 600px) {
  .flex.responsive, .row.responsive {
    flex-direction: column;
  }
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 15px !important;
  grid-gap: 20px;
}
nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
nav section.navbar-section {
  flex: 1;
  justify-content: center;
  gap: 20px;
  color: #252336 !important;
  align-items: center !important;
}
nav section.navbar-section a {
  display: flex;
}
nav section.navbar-section .navbar-logo {
  font-size: 2rem;
  display: flex;
  font-family: "MD Serif Display" !important;
  color: #252336;
  font-weight: 600;
  gap: 20px;
}
nav section.navbar-section .navbar-logo img {
  height: 3rem;
}
nav section.navbar-section:last-child {
  justify-content: right;
}
nav section.navbar-section:first-child {
  justify-content: left;
}
@media screen and (max-width: 600px) {
  footer nav section.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center !important;
  }
}
.text-primary {
  color: #252336 !important;
}

.bg-primary {
  background: #252336 !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background: #fff !important;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

ul ul, ul ol, ol ul, ol ol {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 90%;
}

ol li {
  list-style: decimal outside;
  margin-bottom: 0.3rem;
}

ul li {
  list-style: circle outside;
  margin-bottom: 0.3rem;
}

.width-mobile {
  width: 400px !important;
}

.width-phablet {
  width: 600px !important;
}

.width-tablet {
  width: 800px !important;
}

.width-laptop {
  width: 1000px !important;
}

.width-monitor {
  width: 1200px !important;
}

.width-full {
  width: 100%;
}

.width-full-vw {
  width: 100vw;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table thead tr th, table thead tr td, table tbody tr th, table tbody tr td {
  outline: 0;
  margin: 0 !important;
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #e9e8f0 !important;
}
table thead tr th:first-child, table thead tr td:first-child, table tbody tr th:first-child, table tbody tr td:first-child {
  padding-left: 5px;
}
table thead tr th:last-child, table thead tr td:last-child, table tbody tr th:last-child, table tbody tr td:last-child {
  padding-right: 5px;
}

br {
  margin: 20px 0 !important;
}

hr {
  margin: 50px 0 !important;
  border: 0;
  border-top: 1px solid #e9e8f0;
}
hr.dotted {
  background: url("../assets/dotted.svg") center no-repeat;
  background-size: contain;
  height: 5px;
  border: none;
}

code {
  padding: 0.1rem 0.3rem;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #cccccc;
  overflow: auto;
  border-radius: 0;
  font-size: 0.9rem !important;
  font-family: "Source Code Pro" !important;
}
code ol, code ul {
  margin: 0;
  padding: default !important;
  list-style-position: outside;
}
code ol li, code ul li {
  margin: 0;
}
code ol ::marker {
  color: #bfbfbf;
}

pre > code {
  display: block;
  padding: 1rem;
  white-space: pre;
  border-radius: 0;
  overflow: auto;
}

pre {
  line-height: 1.6;
  font-family: "Source Code Pro" !important;
}

code,
ul,
ol,
li,
span,
div,
p,
a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  grid-gap: 20px !important;
  box-sizing: border-box;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea,
option,
select {
  font-family: Poppins;
  line-height: 1.6;
  font-size: 0.8rem !important;
  padding: 5px 10px;
  margin: 0;
  min-height: 40px;
  border: 1px solid #9e9abe;
  border-radius: 0;
  outline: none;
  width: 100%;
}
input[type=email]:first-child,
input[type=number]:first-child,
input[type=search]:first-child,
input[type=text]:first-child,
input[type=tel]:first-child,
input[type=url]:first-child,
input[type=password]:first-child,
textarea:first-child,
option:first-child,
select:first-child {
  margin-left: 0 !important;
}
input[type=email]:last-child,
input[type=number]:last-child,
input[type=search]:last-child,
input[type=text]:last-child,
input[type=tel]:last-child,
input[type=url]:last-child,
input[type=password]:last-child,
textarea:last-child,
option:last-child,
select:last-child {
  margin-right: 0 !important;
}
input[type=email]:hover,
input[type=number]:hover,
input[type=search]:hover,
input[type=text]:hover,
input[type=tel]:hover,
input[type=url]:hover,
input[type=password]:hover,
textarea:hover,
option:hover,
select:hover {
  border-color: #252336;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
option:focus,
select:focus {
  border-color: #252336;
}

option:hover {
  background-color: #252336 !important;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100px;
  resize: vertical;
}

input[type=button],
input[type=submit],
button,
.btn {
  display: inline-block !important;
  width: auto;
  height: 40px;
  padding: 0 30px;
  color: #252336;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #9e9abe;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 5px;
}
input[type=button]:first-child,
input[type=submit]:first-child,
button:first-child,
.btn:first-child {
  margin-left: 0 !important;
}
input[type=button]:last-child,
input[type=submit]:last-child,
button:last-child,
.btn:last-child {
  margin-right: 0 !important;
}
input[type=button]:hover, input[type=button]:focus,
input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus,
.btn:hover,
.btn:focus {
  border-color: #252336;
  color: #252336;
}
input[type=button].btn-fill,
input[type=submit].btn-fill,
button.btn-fill,
.btn.btn-fill {
  background: #252336;
  border-color: #252336;
  color: #fff;
}
input[type=button].btn-fill:hover, input[type=button].btn-fill:focus,
input[type=submit].btn-fill:hover,
input[type=submit].btn-fill:focus,
button.btn-fill:hover,
button.btn-fill:focus,
.btn.btn-fill:hover,
.btn.btn-fill:focus {
  background: #1a1927;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  box-sizing: border-box;
}
.hero.hero-full {
  height: 100vh;
}
.hero.p-0 {
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table thead tr th, table thead tr td, table tbody tr th, table tbody tr td {
  outline: 0;
  margin: 0 !important;
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #e9e8f0 !important;
}
table thead tr th:first-child, table thead tr td:first-child, table tbody tr th:first-child, table tbody tr td:first-child {
  padding-left: 5px;
}
table thead tr th:last-child, table thead tr td:last-child, table tbody tr th:last-child, table tbody tr td:last-child {
  padding-right: 5px;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-flex-start {
  align-items: flex-start !important;
}

.align-items-flex-end {
  align-items: flex-end !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-initial {
  align-items: initial !important;
}

.align-items-inherit {
  align-items: inherit !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-flex-start {
  justify-content: flex-start !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.justify-content-space-around {
  justify-content: space-around !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-space-evenly {
  justify-content: space-evenly !important;
}

.justify-content-initial {
  justify-content: initial !important;
}

.justify-content-inherit {
  justify-content: inherit !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-justify {
  text-align: justify !important;
}

.text-align-initial {
  text-align: initial !important;
}

.text-align-inherit {
  text-align: inherit !important;
}
