// DM Serif Display
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

// Raleway
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Source Code Pro
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

.raleway {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	@each $key,
	$val in $raleway {
		&.raleway-#{$key} {
			font-weight: $val;
		}
	}
}

.dm-serif {
	font-family: "DM Serif Display", serif;
	@each $key,
	$val in $dm-serif {
		&.dm-serif-#{$key} {
			font-weight: $val;
		}
	}
}

.source-code-pro {
	font-family: "Source Code Pro", monospace;
	@each $key, $val in $source-code-pro {
		&.source-code-pro-#{$key} {
			font-weight: $val;
		}
	}
}
