
$primary: #252336 !default;
$secondary: #ED4E1E !default;
$info: #349CD8 !default;
$success: #2EE87b !default;
$danger: #EA4848 !default;
$warning: #FFDB28 !default;
$light: #FAFAFA !default;
$dark: #444444 !default;
$gray: #CCCCCC !default;
$white: #FFFFFF !default;
$black: #000000 !default;


$mobile: 400px !default;
$phablet: 600px !default;
$tablet: 800px !default;
$laptop: 1000px !default;
$monitor: 1200px !default;


$center: center;
$justify: justify;
$stretch: stretch;
$right: right;
$left: left;
$baseline: baseline;
$flex-start: flex-start;
$flex-end: flex-end;
$space-between: space-between;
$space-around: space-around;
$space-evenly: space-evenly;
$initial: initial;
$inherit: inherit;


